@charset "utf-8";
a:focus,button:focus{outline:none; -moz-outline:none;}
:focus{outline:none;}
/*Reset Css*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,img,area,param{margin:0; padding:0;}
html,body{margin:0; padding:0; height: 100%;}
ol,ul{padding-left:0; list-style-type:none; list-style:none;}
img{border:none; display:inline-block; vertical-align:middle; *display:inline; *zoom:1;}
th{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
body{
    font-size:.32rem;
}